p.main {
    color: red;
}
b.red {
    color: red;
}
b.second {
    color: red;
}
b.third {
    color: red;
}
b.fourth {
    color: red;
}
b.fifth {
    color: red;
}
b.six {
    color: red;
}
b.seven {
    color: red;
}
b.eight {
    color: red;
}
b.nine {
    color: red;
}
b.ten {
    color: red;
}
b.eleven {
    color: red;
}
b.twelve {
    color: red;
}
b.thirteen {
    color: red;
}
b.fourteen {
    color: red;
}
b.fifteen {
    color: red;
}
b.sixteen {
    color: red;
}
b.seventeen {
    color: red;
}
b.eighteen {
    color: red;
}
b.nineteen {
    color: red;
}
b.twenty {
    color: red;
}
b.twentyone {
    color: red;
}
b.twentytwo {
    color: red;
}
b.twentythree {
    color: red;
}
.mainpage {
    float: left;
}